# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. The popular languages that Data Scientists
2. The commonly used libraries used by Data Scientists
3. Development environment open source tools used in data science
4. Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include: 
1. TensorFlow 
2. NumPy 
3. Pandas

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
m = 200 
h = m/60
print(h,'hours')

3.3333333333333335 hours

## Author : SAFA ABDULKAREEM ALMAHDI